@import "tailwindcss";

@theme {
  --color-palette-tint: #D0F7FF;
  --color-palette-sky: #86E4FF;
  --color-palette-azure: #1E9AFF;
  --color-palette-sapphire: #0A48A3;
  --color-palette-coral: #E294A2;
  --color-palette-gold: #E8BF87;
  --color-palette-silver: #BFBFBF;
}

:root {
  --background: #D0F7FF;
  --foreground: #0A48A3;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), sans-serif;
  min-height: 100vh;
}

.font-handwritten {
  font-family: var(--font-handwritten), cursive;
}
